* {
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
    font-family: tahoma;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.bg {
    background-image: url('https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?cs=srgb&dl=pexels-pixabay-39284.jpg&fm=jpg');
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: -30;
    left: -30;
    height: calc(100vh + 60px);
    width: calc(100vw + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: rgb(0, 0, 0);
}