@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #516dff;
    color: #fff;
    font-family: 'Press Start 2P', cursive;;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    text-align: center;
}

.btn {
    border: 0;
    background-color: #fff;
    color: #516dff;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.chose-insect-btn img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.chose-insect-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.chose-insect-btn:hover {
    background-color: #fff;
    color: #516dff;
}

.chose-insect-btn:active {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    transform: scale(0.98);
}

.screen.up {
    margin-top: -200vh;
}

.insect-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.insect-list li {
    margin: 10px;
}

.game-container {
    position: relative;
}

.time, .score {
    position: absolute;
    top: 20px;
}

.time {
    left: 20px;
}

.score {
    right: 20px;
}

