* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    font-family: tahoma;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(161, 100, 223);
}

.btn {
    background-color: rebeccapurple;
    color: #fff;
    margin: 0 13px;
    padding: 13px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: scale(0.97);
}