* {
    box-sizing: border-box;
}

body {
    background-color: #efedd6;
    font-family: candara;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
}

h1{
    margin: 10px;
    font-style: italic;
    color: rgb(10, 117, 189);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 28, 245);
    color: #fff;
    width: 400px;
    height: 160px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #fff;
    outline: 3px solid rgb(140, 28, 245);
    box-shadow: 7px 10px 9px rgb(0 0 0 / 30%);
    font-size: 20px;
    transform: translateX(500%);
    transition: transform .8s ease-in;   
}

.box:nth-of-type(even) {
    transform: translate(-300%);    
}

.box.show {
    transform: translateX(0);       
}